/* OVERRIDE DEFAULTS */

a {
    text-decoration: none;
    color: #fff;
}


/* FOUNDATIONS */

html {
    background: #000;
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body * {
    color: #fff;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.row > [class*="topbar"] {
    display: inline;
    float: left;
    margin-left: 10px;
}


/* HEADER */


/* Create a fixed to top header */

#header nav ul li {
    border-top: 1px solid #fff;
    list-style-type: none;
    width: 130px;
}

#header nav ul li a {
    display: block;
    font-size: 1.3em;
}

#header nav li:hover,
#header nav li.active {
    border-color: #7cfc00;
    color: #7cfc00;
}

#header nav li:hover > a,
#header nav li.active > a {
    color: #7cfc00;
}

#primary {
    position: fixed;
    right: 1em;
    top: .5em;
}

#logo {
    display: inline-block;
    position: fixed;
}


/* FOOTER */


/* fix this to where it is at bottom of content */

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: url(../images/faux-footer-bg.png);
}

#footer #social {
    margin-top: 1em;
    padding-left: 1em;
    display: inline-block;
    align-content: left;
}


/*	Social */

#social {
    margin-bottom: .8em;
}

#social a {
    border: none !important;
    display: block;
    float: left;
    margin-right: 3px;
    width: 19px;
    height: 18px;
    border-radius: 100%;
}

#social a:hover {
    background: rgba(124, 252, 0, .58);
    border-radius: 17%;
    transform: scale(1.3);
    transition-duration: .25s;
}


/* Single-page app logic, animation, styling */

main > * {
    display: none;
}

main > *:last-child {
    display: block;
}

@keyframes pulse {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.05)
    }
    100% {
        transform: scale(1)
    }
}

main > *:target {
    display: block;
    animation: pulse 0.5s linear 1;
}

main > *:target ~ * {
    display: none;
}

main {
    font-size: 1.2em;
    padding-left: 5em;
}


/* MEDIA QUERIES */


/* Made the dumb mobile view boxes fit 100% width somehow */

@media only screen and (max-width: 450px) {
    #primary {
        width: 100%;
    }
    #header nav ul li {
        border-top: none;
    }
    nav ul li a {
        text-align: center;
        border: solid 1px;
        background: url(../images/faux-footer-bg.png);
    }
    #header nav ul li {
        width: 102.65%;
    }
    #header nav ul {
        padding: 0;
        display: block;
        position: relative;
    }
    #logo {
        display: block;
        margin: auto;
        width: 70;
        position: relative;
    }
    main {
        padding-left: 0;
        padding-bottom: 1.6em;
        padding-top: 4.5em;
    }
    h1 {
        margin-bottom: 0;
        border-bottom: solid 3px white;
        text-align: center;
    }
    h3 {
        margin: 0;
        border: dashed 2px white;
        text-align: center;
    }
    p {
        font-size: 16px;
    }
    li {
        font-size: 12px;
    }
}

@media only screen and (min-width: 451px) and (max-width: 550px) {
    #header nav ul li {
        width: 65px;
    }
    .topbar {
        font-size: 10px;
    }
}

@media only screen and (min-width: 551px) and (max-width: 650px) {
    #header nav ul li {
        width: 80px;
    }
    .topbar {
        font-size: 12px;
    }
}

@media only screen and (min-width: 651px) and (max-width: 800px) {
    #header nav ul li {
        width: 100px;
    }
    .topbar {
        font-size: 14px;
    }
}

@media only screen and (min-width: 801px) and (max-width: 2000px) {
    #header nav ul li {
        width: 120px;
    }
}