/* HTML5 */

section,
header,
nav,
footer,
aside {
    display: block;
}


/* OVERRIDE DEFAULTS */

a {
    text-decoration: none;
    color: #fff;
}

a:visited,
a:hover {
    color: #fff;
}

ul {
    margin: 0;
    padding: 0;
}

p {
    margin-bottom: 1.4em;
}

h1 a {
    border: none !important;
}

h1 a:hover {
    color: #aeaeae;
}

h2 {
    font-size: 1.25em;
    font-weight: bold;
    border-top: 1px solid #aeaeae;
}

h2 a {
    border: none !important;
}

h2 a:hover {
    color: #aeaeae;
}


/* FOUNDATIONS */

body {
    font-size: 62.5%;
    line-height: 1.8em;
}

html {
    background: #000;
    background: url(../images/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body * {
    color: #fff;
}

#page {
    position: relative;
    margin: 30px 30px;
}

#container {
    margin: 0 0 0 250px;
    font-family: arial, sans-serif;
}

#middle {
    position: relative;
    min-height: 450px;
}


/* Logos */

#symbol,
#name {
    position: absolute;
    left: 0;
}

#symbol {
    top: 0;
}

#name {
    top: 13.75em;
    font-family: sans-serif;
    font-size: .75em;
}


/* HEADER */

#header {
    height: 2em;
    border-bottom: 1px solid #aeaeae;
}

#header nav {
    position: relative;
}

#header nav ul li {
    border-top: 1px solid #fff;
    list-style-type: none;
}

#header nav ul li a {
    display: block;
    font-size: 1.3em;
}

#header nav #primary li ul {
    display: none;
}

#header nav #primary li:hover,
#header nav #primary li.active {
    border-color: #7cfc00;
    color: #7cfc00;
}

#header nav #primary li:hover > a,
#header nav #primary li.active > a {
    color: #7cfc00;
}


/* FOOTER */

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: url(../images/faux-footer-bg.png);
    width: 100%;
    padding: .5em;
}

#footer .social {
    margin-top: 1em;
    padding-left: 2.15em;
    display: inline-block;
    align-content: left;
}

#small {
    margin-top: .85em;
    font-size: 1.2em !important;
    color: #fff;
    text-align: right;
    padding-right: 2em;
    margin-bottom: .9em;
}


/*	Social */

.social {
    margin-bottom: .8em;
}

.social a {
    border: none !important;
    display: block;
    float: left;
    margin-right: 3px;
    width: 19px;
    height: 18px;
    border-radius: 100%;
}

.social a:hover {
    background: rgba(124, 252, 0, .58);
    border-radius: 17%;
    transform: scale(1.3);
    transition-duration: .25s;
}


/* TEMPLATE - HOME	*/

#home {
    position: relative;
    z-index: 0;
}

#home #page {
    margin-bottom: 0;
}

#home #header {
    border: none;
}


/* TEMPLATE - 404 */

#middle.not-found #main h2 {
    border-top: none;
}


/* MEDIA QUERIES */

@media screen and (min-width: 1000px) {
    #primary.row {
        position: fixed;
        right: 2em;
    }
}

@media screen and (max-width: 985px) {
    .span2 {
        width: 120px;
    }
}

@media screen and (max-width: 935px) {
    .span2 {
        width: 110px;
    }
}

@media screen and (max-width: 885px) {
    .span2 {
        width: 100px;
    }
    .social {
        position: fixed;
        display: inline-block;
    }
}

@media screen and (max-width: 835px) {
    .span2 {
        width: 90px;
    }
}

@media screen and (max-width: 785px) {
    .span2 {
        width: 80px;
    }
}

@media screen and (max-width: 735px) {
    #primary .span2 {
        position: fixed;
        right: 3em;
        line-height: 3em;
        z-index: 2;
    }
    .exp {
        top: 3em;
    }
    .edu {
        top: 6em;
    }
    .ski {
        top: 9em;
    }
    .bio {
        top: 12em;
    }
    .con {
        top: 15em;
    }
    #name {
        top: 8em;
    }
}